.signup {
  position: relative;
}

.signupHeader {
  position: absolute;
  right: 0;
  top: 0;
}
.header {
  display: flex;
  margin-right: 1em;
}
.menu {
  margin: 1em;
}
.menu a {
  color: #fff;
  opacity: 0.4;
  transition: 0.5s;
}
.menu a:hover {
  opacity: 1;
}

.container {
  width: 100%;
  height: 100vh;
  background: #ffa5a5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: stretch;
  flex-grow: 1;
}
.tit {
  color: rgba(255, 255, 255, 0.7);
  padding: 1em;
  margin-bottom: 3em;
}

.form {
  width: 50%;
  max-width: 400px;
}

.email,
.pw,
.pw2,
.name {
  width: 100%;
  font-size: 1rem;
  padding: 1.5em 0.7em;
  border: outer 2px solid #ddd;
  border-radius: 10px;
  margin: 0;
  font-size: 1em;
  opacity: 0.9;
  ime-mode: inactive;
}

.email {
}
.pw {
  border-radius: 10px 10px 0 0;
  margin-top: 1.4em;
}
.pw2 {
  border-radius: 0 0 10px 10px;
}
.name {
  margin-top: 2em;
  margin-bottom: 2em;
}

.radioBtns {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0.8;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.male,
.female {
  color: #fff;
  padding: 0.7em 1.5em;
  flex-basis: 50%;
  text-align: center;
  cursor: pointer;
  background: #fcb5b5;
}
input[type="radio"] + label {
}
input[type="radio"]:checked + label {
  background: #fff;
  color: #000;
}

input[type="radio"] {
  position: absolute;
  margin-left: -9999em;
}

.vertify {
  background: #fcb5b5;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 1);
  display: block;
  border-radius: 10px;
  width: 55%;
  padding: 1em 0;
  font-size: 1rem;
  margin: 4em auto 0;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  z-index: 3;
}
.vertify:hover {
  background: #fcb5b5;
}
.vertify:active {
  box-shadow: none;
  color: rgba(255, 255, 255, 0.3);
}

.vertify:before {
  z-index: -1;
  content: "";
  position: absolute;
  display: block;
  left: -40%;
  top: -20%;
  transform: translateY(-50%);
  width: 180%;
  height: 180%;
  background: linear-gradient(to right, #d789d7, #fcb5b5);
  opacity: 0;
  transition: 3s;
  animation: animate 3s infinite;
}

@keyframes animate {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(0);
  }
}

.guideTxt {
  display: inline-block;
  margin: 0;
  opacity: 0.5;
  font-size: 0.8em;
  padding-left: 1.5em;
  margin-top: 0.5em;
}
