.root_body {
  width: 100%;
  display: flex;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu_list {
  background: rgba(0, 0, 0, 0.05);
  width: 300px;
  box-sizing: border-box;
}

.menu_list > li {
  width: 100%;
  display: inline-block;
  padding: 0;

  border-bottom: 1px solid #ddd;
}
.category_title {
  font-size: 30px;
  display: block;
  width: 100%;
  padding: 15px 20px;
}

.category_list {
  font-size: 20px;
  max-height: 0;
  padding-bottom: 10px;
  overflow: hidden;
  transition: max-height 0.5s ease-in;
}
.category_list.active {
  max-height: 300px;

  transition: max-height 0.5s ease-in;
}

.category_list li a {
  display: block;
  width: 100%;
  padding: 15px 20px;
  transition: 0.2s;
}

.category_list li:hover a {
  background: rgb(202, 202, 202);
  color: #fff;
  border-radius: 3px;
}
.category_list li:active a {
  background: red;
}
