header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10%;
  background: #7d34ae;
}
header .logo {
  width: 240px;
  cursor: pointer;
}
.menu_list {
  list-style: none;
}
.menu_list li {
  display: inline-block;
  margin: 0 20px;
}
.menu_list li a {
  color: #fff;
  transition: all 0.3s ease 0s;
}

button {
  padding: 9px 25px;
  background-color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  outline: none;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
